*{
  box-sizing: border-box;
}   

body {
  width: 2000px;
  height: 2000px;
}
main {
  display: grid;
  grid-template-columns: 200px repeat(3, 300px);
  grid-template-rows: 80px 300px 80px 220px 80px;
  background-color: red;
}
header {
  background-color: bisque;
  grid-column: 1/6;
  grid-row: 1/2;
}
#totals {
  background-color: tan;
  grid-column: 1/2;
  grid-row: 2/5;
  overflow: auto;
}

ul {
  border: 2px solid gray;

}
li {
  margin: 9px;
  font-size: 20px;
  justify-content: space-evenly;  
}
#all_items{
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: 260px;
  grid-column: 2/5;
  grid-row: 2/3;
  justify-items: center;
  
}

#left_Item {
  background-color: lightgrey;
  grid-column: 1/2;
  grid-row: 1/2;
  cursor:-moz-grab;
}
#mid_Item {
  grid-column: 2/3;
  grid-row: 1/2;
  background-color: lightyellow;
}
#right_Item {
  grid-column: 3/4;
  grid-row: 1/2;
  background-color: lightpink;
}
img {
  height: 150px;
  width: 150px;;
}
#blank {
  background-color: whitesmoke;
  grid-column: 2/6;
  grid-row: 3/4;
}
#p {
  background-color: blue;
  grid-column: 2/6;
  grid-row: 4/5;
  color: white;
}
footer {
  background-color: grey;
  grid-column: 1/6;
  grid-row: 5/6;
}
h1 {
  font-size:xx-large;
  font-family: 'Courier New', Courier, monospace;
}
#itemChart{
    display: flex;
    box-sizing: border-box;
    max-height: 600px;
    max-width: 600px;
    font-weight: bold;
    backdrop-filter: brightness(0.0);
}

